---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <link rel="stylesheet" href="/index.css" />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header></header>
    <main>
      <article>
        <section>
          <div class="hero-section">
            <div class="hero-content">
              <h1 class="h1-forside">COMMUNITY EVENTS</h1>
              <img
                class="gronplanet-forside"
                src="/images/gronplanet.png"
                alt="grøn planet"
              />
            </div>
          </div>
          <div>
            <p class="p-forside">
              At Planet Nusa, we’re more than just a sportswear brand; we’re a
              community fueled by a passion for sports & the endorphin rush that
              comes with it. Join us in cities across the globe for activities
              like running, swimming, yoga, fitness, bootcamps, Nusa Talks,
              sauna sessions, and much more. Whether you’re a fitness enthusiast
              or just getting started, we can’t wait to meet you & sweat it out
              together.  Welcome to Planet Nusa!
            </p>
          </div>
        </section>

        <section class="marathon-section">
          <h1 class="h1-marathon">MARATHON WEEK</h1>
          <h4 class="h4-marathon">
            Running, Music & Mindfulness. Free for everyone to join!
          </h4>
          <div class="karrusel-wrapper">
            <button class="pil-scroll-left">
              <img src="/images/pil.png" alt="scroll left" />
            </button>
            <div class="karrusel-marathon">
              <img src="/images/karrusel1.jpg" alt="karrusel1" />
              <img src="/images/karrusel2.jpg" alt="karrusel2" />
              <img src="/images/karrusel3.jpg" alt="karrusel3" />
              <img src="/images/karrusel4.jpg" alt="karrusel4" />
              <img src="/images/karrusel5.jpg" alt="karrusel5" />
            </div>
            <button class="pil-scroll">
              <img src="/images/pil.png" alt="scroll right" />
            </button>
          </div>
          <a class="knap-marathon" href="marathon.astro">SEE THE PROGRAM</a>
        </section>

        <section>
          <div class="linje-events">
            <img
              class="gronplanet-events"
              src="/images/gronplanet.png"
              alt="grøn planet"
            />
            <h1 class="h1-events">EVENTS</h1>
          </div>
          <h4 class="h4-events">
            Join the Fun – Planet NUSA Events Are for Everyone!
          </h4>
        </section>

        <section>
          <div class="div">
            <div class="div1">
              <img
                class="billede-events"
                src="/images/nusabootcamp.png"
                alt="nusa bootcamp"
              />
            </div>
            <div class="div2">
              <p class="p-events">
                Community is at the heart of our bootcamps. Join us in a city
                near you for high-energy, group-driven workouts that will leave
                you feeling strong and motivated. We can’t wait to sweat it out
                together!
              </p>
              <a class="knap-events" href="nusabootcamp">READ MORE</a>
            </div>
          </div>

          <div class="div reverse">
            <div class="div1">
              <img
                class="billede-events"
                src="/images/nusaruns.png"
                alt="nusa runs"
              />
            </div>
            <div class="div2">
              <p class="p-events">
                Join our Nusa Runs, happening weekly & monthly! We cover various
                distances, always at a social pace, so everyone can keep up and
                chat along the way. Find us in Copenhagen, Aarhus, Aalborg,
                Odense & NYC
              </p>
              <a class="knap-events" href="nusaruns">READ MORE</a>
            </div>
          </div>

          <div class="div">
            <div class="div1">
              <img
                class="billede-events"
                src="/images/nusaswims.png"
                alt="nusa swims"
              />
            </div>
            <div class="div2">
              <p class="p-events">
                Take a dip, splash, or swim with us & start your day refreshed.
                Release those feel-good endorphins while enjoying good company.
                Don’t forget your swimwear, towel & warm clothes for before &
                after.
              </p>
              <a class="knap-events" href="nusaswims">READ MORE</a>
            </div>
          </div>

          <div class="div reverse">
            <div class="div1">
              <img
                class="billede-events"
                src="/images/nusatalks.png"
                alt="nusa talks"
              />
            </div>
            <div class="div2">
              <p class="p-events">
                Nusa Talks is your go-to space for engaging conversations about
                wellness, mental health, fitness & nutrition. These monthly
                talks explore a variety of topics designed to uplift & inspire
                our community. Stay tuned for upcoming talks!
              </p>
              <a class="knap-events" href="nusatalks">READ MORE</a>
            </div>
          </div>
        </section>

        <section>
          <h2 class="h2-community">Our community</h2>
          <div class="karrusel-wrapper">
            <button class="pil-scroll-left-community">
              <img src="/images/pil.png" alt="scroll left" />
            </button>
            <div class="karrusel-community">
              <img src="/images/karrusel6.jpg" alt="karrusel6" />
              <img src="/images/karrusel7.jpg" alt="karrusel7" />
              <img src="/images/karrusel8.jpg" alt="karrusel8" />
              <img src="/images/karrusel9.jpg" alt="karrusel9" />
              <img src="/images/karrusel10.jpg" alt="karrusel10" />
              <img src="/images/karrusel11.jpg" alt="karrusel11" />
            </div>
            <button class="pil-scroll-community">
              <img src="/images/pil.png" alt="scroll left" />
            </button>
          </div>
        </section>
      </article>
    </main>
    <footer></footer>
  </body>
  <script src="/scroll.js" type="module"></script>
</html>
