---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <link rel="stylesheet" href="/events.css" />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header></header>
    <main>
      <article>
        <section>
          <div class="hero-section">
            <div class="hero-content">
              <img
                class="gronplanet-events"
                src="/images/gronplanet.png"
                alt="grøn planet"
              />
            </div>
          </div>
        </section>

        <section>
          <div class="div">
            <div class="div1">
              <img
                class="billede-events"
                src="/images/rnewyork.jpg"
                alt="new york"
              />
            </div>
            <div class="div2">
              <h2 class="h2-events">NEW YORK CITY</h2>
              <p class="p-events">Relaxed, social-paced 5K</p>
              <p class="p-events">Every first Saturday of the month at 8AM</p>
              <p class="p-events">
                Meet-up at SMØR BAKERY, 441 E 12th St, New York
              </p>
              <h3 class="h3-events">JUST SHOW UP</h3>
              <img class="linje" src="/images/linje.png" alt="streg" />
            </div>
          </div>

          <div class="div reverse">
            <div class="div1">
              <img
                class="billede-events"
                src="/images/rcopenhagen.jpg"
                alt="copenhagen"
              />
            </div>
            <div class="div2">
              <h2 class="h2-events">COPENHAGEN</h2>
              <p class="p-events">Social-paced 4K or 7K</p>
              <p class="p-events">
                Every Wednesday at 5:30PM, every Friday at 7AM & every first
                Saturday of the month
              </p>
              <p class="p-events">
                Meet-up at Planet Nusa Café & Store, Sankt Peders Stræde 30A
              </p>
              <h3 class="h3-events">JUST SHOW UP</h3>
              <img class="linje" src="/images/linje.png" alt="streg" />
            </div>
          </div>

          <div class="div">
            <div class="div1">
              <img
                class="billede-events"
                src="/images/raarhus.jpg"
                alt="aarhus"
              />
            </div>
            <div class="div2">
              <h2 class="h2-events">AARHUS</h2>
              <p class="p-events">Social-paced 5K</p>
              <p class="p-events">
                Every Tuesday at 5PM & every first Saturday of the month
              </p>
              <p class="p-events">
                Meet-up at Planet Nusa Store, Guldsmedgade 22A
              </p>
              <h3 class="h3-events">JUST SHOW UP</h3>
              <img class="linje" src="/images/linje.png" alt="streg" />
            </div>
          </div>

          <div class="div reverse">
            <div class="div1">
              <img
                class="billede-events"
                src="/images/rodense.jpg"
                alt="odense"
              />
            </div>
            <div class="div2">
              <h2 class="h2-events">ODENSE</h2>
              <p class="p-events">
                Social-paced 5K, every Thursday afternoon at 5PM
              </p>
              <p class="p-events">
                Meet-up at Storms Pakhus, Lerchesgade 4, 5000 Odense
              </p>
              <p class="p-events">
                Social-paced 5K or 10K, every first Saturday of the month
              </p>
              <p class="p-events">Meet-up at Analog Kaffebar, Albanigade 54C</p>
              <h3 class="h3-events">JUST SHOW UP</h3>
              <img class="linje" src="/images/linje.png" alt="streg" />
            </div>
          </div>

          <div class="div">
            <div class="div1">
              <img
                class="billede-events"
                src="/images/raalborg.jpg"
                alt="aalborg"
              />
            </div>
            <div class="div2">
              <h2 class="h2-events">AALBORG</h2>
              <p class="p-events">Social-paced 5K</p>
              <p class="p-events">
                Every Tuesday at 5PM & every first Saturday of the month
              </p>
              <p class="p-events">
                Meet-up at Planet Nusa Store, Guldsmedgade 22A
              </p>
              <h3 class="h3-events">JUST SHOW UP</h3>
              <img class="linje" src="/images/linje.png" alt="streg" />
            </div>
          </div>
        </section>
      </article>
    </main>
    <footer></footer>
  </body>
</html>
