---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <link rel="stylesheet" href="/events.css" />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header></header>
    <main>
      <article>
        <section>
          <div class="hero-section-bootcamp">
            <div class="hero-content">
              <img
                class="gronplanet-events"
                src="/images/gronplanet.png"
                alt="grøn planet"
              />
            </div>
          </div>
        </section>

        <section>
          <div class="div">
            <div class="div1">
              <img
                class="billede-events"
                src="/images/bootcampc.jpg"
                alt="copenhagen"
              />
            </div>
            <div class="div2">
              <h2 class="h2-events">COPENHAGEN</h2>
              <p class="p-events">
                Whether you’re into functional fitness, boxing, body weight,
                cardio or strength training we’ve got you covered in Copenhagen.
                All of our coaches are ready to take you on board for great
                workouts and lots of sweat! Choose between 6 different coaches
                in neighborhoods all over the city!
              </p>
              <h3 class="h3-events">JUST SHOW UP</h3>
              <img class="linje" src="/images/linje.png" alt="streg" />
            </div>
          </div>

          <div class="div reverse">
            <div class="div1">
              <img
                class="billede-events"
                src="/images/bootcampa.jpg"
                alt="aarhus"
              />
            </div>
            <div class="div2">
              <h2 class="h2-events">AARHUS</h2>
              <p class="p-events">
                Aarhus, you got the best of the best! It’s Rules Boxing Club
                that’s leading the way here, and regardless of your level or
                experience with boxing, Rules Boxing Club guarantees the best
                workout. On this Bootcamp you’ll be greeted by our Planet Nusa
                Ambassadors!
              </p>
              <h3 class="h3-events">JUST SHOW UP</h3>
              <img class="linje" src="/images/linje.png" alt="streg" />
            </div>
          </div>

          <div class="div">
            <div class="div1">
              <img
                class="billede-events"
                src="/images/bootcampo.jpg"
                alt="odense"
              />
            </div>
            <div class="div2">
              <h2 class="h2-events">ODENSE</h2>
              <p class="p-events">
                Odense, you’re lucky to have Rebekka Rasoulinia as your coach!
                It’s all good vibes & smiles, plenty of movement, high pulse &
                lot’s of strength. On this Bootcamp you’ll be greeted by our
                Planet Nusa Ambassadors!
              </p>
              <h3 class="h3-events">JUST SHOW UP</h3>
              <img class="linje" src="/images/linje.png" alt="streg" />
            </div>
          </div>

          <div class="div reverse">
            <div class="div1">
              <img
                class="billede-events"
                src="/images/bootcampaa.jpg"
                alt="aalborg"
              />
            </div>
            <div class="div2">
              <h2 class="h2-events">AALBORG</h2>
              <p class="p-events">
                If you love a mix of cardio, functional & strength fitness, our
                favorite coach in Aalborg, Ida Bischoff, got you covered! On
                this Bootcamp you’ll be greeted by our Planet Nusa Ambassadors!
              </p>
              <h3 class="h3-events">JUST SHOW UP</h3>
              <img class="linje" src="/images/linje.png" alt="streg" />
            </div>
          </div>
        </section>
      </article>
    </main>
    <footer></footer>
  </body>
</html>
