---
// scr/components/heroruns.astro
---

<section>
  <div class="hero-section">
    <div class="hero-content">
      <img
        class="grønplanet-events"
        src="/images/gronplanet.png"
        alt="grøn planet"
      />
    </div>
  </div>
</section>
