---
// scr/components/marathonindex.astro
---

<section class="marathon-section">
  <h1 class="h1-marathon">MARATHON WEEK</h1>
  <h4 class="h4-marathon">
    Running, Music & Mindfulness. Free for everyone to join!
  </h4>
  <div class="karrusel-wrapper">
    <button class="pil-scroll-left">
      <img src="/images/pil.png" alt="scroll left" />
    </button>
    <div class="karrusel-marathon">
      <img src="/images/karrusel1.jpg" alt="karrusel1" />
      <img src="/images/karrusel2.jpg" alt="karrusel2" />
      <img src="/images/karrusel3.jpg" alt="karrusel3" />
      <img src="/images/karrusel4.jpg" alt="karrusel4" />
      <img src="/images/karrusel5.jpg" alt="karrusel5" />
    </div>
    <button class="pil-scroll">
      <img src="/images/pil.png" alt="scroll right" />
    </button>
  </div>
  <a class="knap-marathon" href="marathon.astro">SEE THE PROGRAM</a>
</section>
