<div class="karrusel-wrapper">
  <div class="karrusel-community">
    <img src="/images/karrusel6.webp" alt="karrusel6" />
    <img src="/images/karrusel7.webp" alt="karrusel7" />
    <img src="/images/karrusel8.webp" alt="karrusel8" />
    <img src="/images/karrusel9.webp" alt="karrusel9" />
    <img src="/images/karrusel10.webp" alt="karrusel10" />
    <img src="/images/karrusel11.webp" alt="karrusel11" />
  </div>
  <div class="pil-container">
    <button class="pil-scroll-left-community">
      <img src="/images/pil.webp" alt="scroll left" />
    </button>
    <button class="pil-scroll-community">
      <img src="/images/pil.webp" alt="scroll right" />
    </button>
  </div>
</div>



<style>
/* community */
.h2-community {
  text-align: center;
  margin: 0 auto;
  width: fit-content;
}

.karrusel-wrapper {
  position: relative; 
  width: 100%;
  max-width: 100vw;
  overflow: hidden;
  margin: 0 auto;
  padding: 20px 0;
}

.karrusel-community {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
  gap: 10px;
  padding-bottom: 20px;
  scroll-behavior: smooth; 
}

.karrusel-community::-webkit-scrollbar {
  display: none;
}

.karrusel-community img {
  flex: 0 0 auto;
  width: 250px;
  height: auto;
  scroll-snap-align: center;
}

.pil-scroll-community,
.pil-scroll-left-community {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 0;
  z-index: 10;
  cursor: pointer;
}

.pil-scroll-left-community {
  position: absolute;
  left: 10px;
  top: 50%;
  background: none;
  border: none;
  padding: 0;
  z-index: 10;
  cursor: pointer;
}

.pil-scroll-left-community img {
  transform: rotate(180deg); 
}


.pil-scroll-community img,
.pil-scroll-left-community img {
  width: 30px;
  height: 30px;
}

  @media (min-width: 780px) {
  /* community */
  .h2-community {
    font-size: 40px;
    margin-top: 120px;
    margin-bottom: 20px;
  }

  .karrusel-community img {
    width: 350px;
    height: auto;
  }

  .pil-scroll-community {
    right: 25px;
  }

  .pil-scroll-left-community {
    left: 25px;
  }

  .pil-scroll-community img {
    width: 35px;
    height: 35px;
  }

  .pil-scroll-left-community img {
    width: 35px;
    height: 35px;
  }
</style>

<script type="module">
  const community = document.querySelector(".karrusel-community");
  document
    .querySelector(".pil-scroll-community")
    .addEventListener("click", () => {
      community.scrollBy({ left: 300, behavior: "smooth" });
    });
  document
    .querySelector(".pil-scroll-left-community")
    .addEventListener("click", () => {
      community.scrollBy({ left: -300, behavior: "smooth" });
    });
</script>
